* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-normal2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.secret_key_button {
    padding: 6px 4px;
    width: 180px;
    background-color: darkblue;
    color: aliceblue;
    font-size: 1.1rem;
    border-radius: 1px;
}

#secret_key_value {
    margin-top: 4px;
    height: 36px;
    width: 180px;
    background-color: lightcoral;
    color: aliceblue;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;

}

.main_container {
    display: grid;
    min-height: 420px;
    border-radius: 3px;
    justify-items: center;
    align-content: center;
    height: 100vh;
    background-color: darkcyan;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0px 45px;
     
}

.input_output_div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(66px, 1fr));
    gap: 8px;
    
}

.result_div {
    grid-column: 1/-1;
    color: floralwhite;

}

#message_div {
    grid-column: 1/-1;
}

.display_value {
    height: 35px;
    font-size: 15px;
    text-align: center;

}

.input_keys {
    border-radius: 4px;
    color: whitesmoke;
    font-size: 16px;
    background-color: darkcyan;
    color: ghostwhite;
    padding: 6px;
    cursor: pointer;
    border: 2px solid gainsboro;
}

.input_submit {
    background-color: darkblue;
    color: white;
    border:1px solid navy;
}

.input_clear {
    background-color: #0b3aaf;
    color: whitesmoke;
}

.input_back {
    background-color: #7f1951;
}
.secret_key_div {
     
    justify-self: right;
     

}



@media screen and (min-width:500px) and (max-width: 900px) {
    .input_output_div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(77px, 1fr));
        height: 100%;

    }

}

@media screen and (max-width:475px) {

     


    .secret_key_div {
        margin-top: 3px;
        justify-self: center;

    }

     

    .main_container {

        align-content: baseline;
        gap: 8px;
        height: 100%;
    }

     


    .input_output_div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        height: 100%;
        gap: 4px;
        

    }

}
